<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<body>
<table class="job-table table table-sm mb-0" th:fragment="job-table (genes)">
    <thead class="thead-light">
    <tr>
        <th scope="col">Job ID</th>
        <th scope="col">Label</th>
        <th scope="col">Status</th>
        <th scope="col">Email</th>
        <th scope="col">Submitted</th>
    </tr>
    </thead>
    <tbody>
    <th:block th:each="job : ${jobs}">
        <tr>
            <td><span class="align-middle"><a
                    th:href="'job/' + ${job.jobId}"
                    target="_blank" class="align-middle" th:text="${job.jobId}"></a></span></td>
            <td><span class="align-middle" th:text="${job.label}"></span></td>
            <td><span class="align-middle" th:text="${job.status}"></span></td>
            <td><span class="align-middle" th:text="${job.email}"></span></td>
            <td><span class="align-middle" th:text="${job.submitted}"></span></td>
        </tr>
    </th:block>
    </tbody>
    <tfoot>
    <tr>
        <td colspan="4">

        </td>
    </tr>
    </tfoot>
</table>
</body>
</html>