<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>IDR Bind - Documentation</title>
    <object th:include="fragments/head :: head" th:remove="tag" />
</head>
<body>
<div th:replace="fragments/navbar">...</div>
<div class="container p-4">


    <div th:replace="fragments/title :: title(title='About')" th:remove="tag">...</div>

    <div class="main-content p-4" >
        <p><b>IDRBind</b> is a protein interface predictor for binding sites of intrinsically disordered protein regions
           (IDRs), ranging from peptide motifs (i.e., short linear motifs) to molecular recognition features (MoRFs).
           Differentiating IDRBind from other interface predictors is its emphasis on binding sites of MoRFs, which are
           long interaction mediating elements within IDRs.</p>

        <p>Protein-protein interactions have a fundamental role in most biological processes, and many computational
           methods have been created for the prediction of these interaction interfaces based on protein structure.
           Most of these methods have been trained and tested on classical globular-globular protein interactions.
           However, a large fraction of interactions are mediated by MoRFs, which play an especially prominent role
           in signaling and regulation. IDRBind is a method built to predict MoRF-binding sites on structures of folded
           proteins. It makes use of information from residue composition, residue evolutionary conservation, residue
           relative accessible surface area (rASA), surface geometry, estimated B-factor and electrostatics. The
           similarities in characteristics between binding sites of MoRFs and shorter peptides (e.g., SLiMs) make
           IDRBind a suitable prediction method for both.</p>

       <p>Please see <b>FAQ</b> for more usage information.</p>          
          
       <p><b>Reference for IDRBind:</b></p>
       <p>E.T.C. Wong, J. Gsponer “Predicting protein-protein interfaces that bind intrinsically disordered protein regions” J. Mol. Biol. (2019). (Accepted)</p>


    </div>

    <div th:replace="fragments/title :: title(title='Instructions')" th:remove="tag">...</div>

    <div class="main-content p-4" >
        <p><b>PDB file</b> - Upload the protein(s) coordinates in standard PDB file format. It is recommended to
               have properly terminated chains. When multiple models of the protein are available, only the first
               model in the file will be used.<p>
        <p><b>PDB Chain ID(s)</b> - You must specify one or more protein chains matching those found in the PDB file (e.g., AB).</p>
        <p><b>FASTA file</b> - We also require a sequence file in the FASTA format where each sequence is labeled with chain ID matching those in the PDB file.</p>
        <div class="card bg-light mb-3" style="max-width: 18rem;">
            <div class="card-header">FASTA example</div>
            <div class="card-body">
                <p class="card-text mb-0">&gt;A</p>
                <p class="card-text mb-0">SEQUENCE</p>
                <p class="card-text mb-0">&gt;B</p>
                <p class="card-text mb-0">SEQUENCE</p>
            </div>
        </div>
        <p><b>Job Name</b> - Optional label for your job to identify it in the <a th:href="@{/queue}" href="/queue">public jobs queue</a> and its individual job page.</p>
        <p><b>Email Address</b> - Optional email address your you to be notified at when your job has entered the
            process queue, begun processing, and finished processing.</p>
        <p><b>Keep this job private</b> - Optionally prevent this job from showing up in the <a th:href="@{/queue}" href="/queue">public jobs queue</a>.<p>
        <p class="font-weight-bold">NOTE: If job is set to private, remember to save the URL of the job's page or to
            supply an email so as to not to accidentally lose access to your job!</p>
    </div>



</div>
<div th:replace="fragments/footer" th:remove="tag">...</div>
</body>
</html>
