<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>IDR Bind - FAQ</title>
    <object th:include="fragments/head :: head" th:remove="tag" />
</head>
<body>
<div th:replace="fragments/navbar">...</div>
<div class="container p-4">


    <div th:replace="fragments/title :: title(title='FAQ')" th:remove="tag">...</div>

    <div class="main-content p-4" >
        FAQ
    </div>




</div>
<div th:replace="fragments/footer" th:remove="tag">...</div>
</body>
</html>