<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>IDR Bind - FAQ</title>
    <object th:include="fragments/head :: head" th:remove="tag" />
</head>
<body>
<div th:replace="fragments/navbar">...</div>
<div class="container p-4">


    <div th:replace="fragments/title :: title(title='FAQ')" th:remove="tag">...</div>

    <div class="main-content p-4" >
        <div id="accordion">
            <div class="card">
                <div class="card-header" id="headingOne">
                    <h5 class="mb-0">
                        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                            Can I submit large batch of proteins?
                        </button>
                    </h5>
                </div>

                <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                    <div class="card-body">
                        <p>Please <a th:href="@{/contact}" href="/contact">contact us</a> to submit
                            larger jobs.</p>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingTwo">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            How do I interpret the results?
                        </button>
                    </h5>
                </div>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                    <div class="card-body">
                        <p>IDRBind provides three prediction scores/labels for each surface residue of the protein
                            structure: CorePred, RimPred, and the IDRBind label from the conditional random field.
                            The IDRBind label is generally the most accurate and easy to interpret, combining the
                            results from CorePred and RimPred. However, CorePred and RimPred scores may provide additional
                            information, predicting core and rim interface residues, respectively. For example, if the
                            query protein has multiple putative interfaces, an interface may be overshadowed and
                            suppressed in the IDRBind label but may still appear prominent in CorePred and RimPred scores.</p>
                        <p>For the classification output of IDRBind: 0 = non-interface, 1 = core, 2 = rim, -99.88 =
                            buried residues or unrecognized residues</p>
                        <p>For CorePred and RimPred outputs range between 0 and 1. CorePred, for example, approximates
                            the probability that the residue is a core residue if we ignored all the rim residues.
                            CorePred and RimPred scores are only available in the csv file.</p>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingThree">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            How do I visualize the results?
                        </button>
                    </h5>
                </div>
                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                    <div class="card-body">
                        <p>The resulting PDB formatted output can be visualized in VMD by coloring the residues based
                            on the B-factor field. It is best viewed with the color range set between 0 to 2. One can also
                            set the range from -0.5 to 2 to differentiate the non-interface residues from the buried
                            residues.</p>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingFour">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                            Can I submit multiple chains in one model?
                        </button>
                    </h5>
                </div>
                <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
                    <div class="card-body">
                        <p>Yes. However, larger structures will take much longer to run. Structures that are too large may
                            fail to run (i.e., greater 1000 residues; varies depending on the shape and geometry).</p>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingFive">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                            Why am I not getting results?
                        </button>
                    </h5>
                </div>
                <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordion">
                    <div class="card-body">
                        <p>Please check that the FASTA file is formatted correctly. For structures large in size or surface
                           area, it may take upwards of 2 hours. Splitting oligomers into individual chains would greatly
                           reduce the processing time, but this will also change predicted interfaces. Please contact support
                           for additional troubleshooting.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>




</div>
<div th:replace="fragments/footer" th:remove="tag">...</div>
</body>
</html>
