<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>IDR Bind - Job Description</title>
    <object th:include="fragments/head :: head" th:remove="tag" />
</head>
<body>
<div th:replace="fragments/navbar">...</div>
<div class="container p-4">

    <div th:replace="fragments/title :: title(title='Job Description')" th:remove="tag">...</div>

    <div class="main-content p-4" >
        <table class="job-table table table-sm mb-0">
            <tbody>
            <tr>
                <td>Job ID</td>
                <td><span class="align-middle p-4" th:text="${job.jobId}"></span></td>
            </tr>
            <tr>
                <td>Job Name</td>
                <td><span class="align-middle p-4" th:text="${job.label}"></span></td>
            </tr>
            <tr>
                <td>Status</td>
                <td><span class="align-middle p-4" th:text="${job.status}"></span></td>
            </tr>
            <tr>
                <td>Email</td>
                <td><span class="align-middle p-4" th:text="${job.email}"></span></td>
            </tr>
            <tr>
                <td>Private</td>
                <td><span class="align-middle p-4" th:text="${job.hidden}"></span></td>
            </tr>
            <tr>
                <td>Submitted</td>
                <td><span class="align-middle p-4" th:text="${job.submitted}"></span></td>
            </tr>

            <tr th:if="${job.complete && !job.failed}">
                <td>Result PDB</td>
                <td><a class="align-middle p-4" th:href="${job.jobId}+'/resultPDB'">download</a></td>
            </tr>

            <tr th:if="${job.complete && !job.failed}">
                <td>Result CSV</td>
                <td><a class="align-middle p-4" th:href="${job.jobId}+'/resultCSV'">download</a></td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <td colspan="4">

                </td>
            </tr>
            </tfoot>
        </table>
    </div>




</div>
<div th:replace="fragments/footer" th:remove="tag">...</div>
</body>
</html>